<!-- Titre -->
<h1 mat-dialog-title>
  <div *ngIf="!viewRight">
    Refuser le dossier {{dossierService.dossier?.numeroDossier}}
  </div>
  <div *ngIf="viewRight">
    Motif de refus du dossier {{dossierService.dossier?.numeroDossier}}
  </div>
</h1>

<div mat-dialog-content>
  <form novalidate (ngSubmit)="onSubmit()" [formGroup]="formRefus" (keydown.enter)="$event.preventDefault()">
    <div fxLayout="column" fxLayoutAlign="space-between stretch">
      <!--  Refus nature -->
      <mat-form-field>
        <div fxLayout="row">
          <input matInput placeholder="Nature" [matAutocomplete]="natureAutoComplete" formControlName="nature" tabindex="1001">
          <div class="mat-select-arrow-wrapper">
            <div *ngIf="!viewRight" class="mat-select-arrow" [ngClass]="{'mat-select-arrow-down': !natureAutoComplete.isOpen, 'mat-select-arrow-up': natureAutoComplete.isOpen}"></div>
          </div>
        </div>
        <button mat-button *ngIf="formRefus.get('nature').value.libelle && !viewRight" matSuffix mat-icon-button aria-label="Clear"
          (click)="formRefus.get('nature').setValue('')">
          <mat-icon>close</mat-icon>
        </button>
        <mat-error *ngIf="!formRefus.get('nature').hasError('required') && formRefus.get('nature').touched && formRefus.get('nature').hasError('natureNotFound')">
          <strong>
            Veuillez sélectionner un des choix parmi les options possibles.
          </strong>
        </mat-error>
      </mat-form-field>
      <mat-autocomplete #natureAutoComplete="matAutocomplete" [displayWith]="displayNature" [autoActiveFirstOption]="true">
        <mat-option *ngFor="let nature of filteredNatures | async" [value]="nature">
          <span> {{nature.libelle}} </span>
        </mat-option>
      </mat-autocomplete>

      <!-- Motif -->
      <mat-form-field>
        <textarea #myTextArea (click)="addLine($event,myTextArea)" (keyup)="addLine($event,myTextArea)" matInput maxlength="240"
          placeholder="Motif" formControlName="motif" tabindex="1002" matTextareaAutosize></textarea>
        <button mat-button *ngIf="formRefus.get('motif').value && !viewRight" matSuffix mat-icon-button aria-label="Clear" (click)="formRefus.get('motif').setValue('')">
          <mat-icon>close</mat-icon>
        </button>
        <mat-error align="end">{{formRefus.get('motif').value.length}} / 240</mat-error>
      </mat-form-field>
    </div>
  </form>
</div>

<div mat-dialog-actions fxLayoutAlign="space-around">
  <!-- Annuler -->
  <button mat-raised-button (click)="onNoClick()" type="button" fxFlex="12" tabindex="1004">
    <em class="ion-close siga-form-cancel"></em>
  </button>
  <!-- Valider -->
  <button *ngIf="!viewRight" mat-raised-button [disabled]="!formRefus.valid" type="button" fxFlex="12" tabindex="1003" (click)="onSubmit()"
    (keydown.enter)="onSubmit()">
    <em [ngClass]="(formRefus.valid)?'ion-checkmark siga-form-confirm':'ion-checkmark'"></em>
  </button>
</div>