<!-- <mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Ma dotation
      </mat-panel-title>
      <mat-panel-description>
        Ma description de dotation (si besoin) !
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field>
      <input matInput placeholder="Test">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Pourquoi pas ?">
    </mat-form-field>
  </mat-expansion-panel>

  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Ma 2ème dotation !
      </mat-panel-title>
      <mat-panel-description>
        Je suis {{panelOpenState ? 'ouvert' : 'fermé'}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p>Oh la belle dotation !</p>
  </mat-expansion-panel>
</mat-accordion> -->



TEST